* {
  box-sizing: border-box;
  padding: 0;
  margin-left: 0px;
}

body, html {
  height: 100%;
  background-color: whitesmoke

}

p {
font-size: 25px;
color:pink;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bolder;
margin-left: 25px;
}

a:link {
  color: white;
  font-stretch: expanded;
  font-weight: bolder;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* A link that has been visited */
a:visited {
  color: rgb(233, 217, 217);
}
/* A link that is hovered on */
a:hover {
  color: lightgrey;
}

/* The hero image */
.hero-image  {
/* Use "linear-gradient" to add a darken background effect to the image (00032840018.jpg). This will make the text easier to read */
background-image : linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("000328480018.jpg");

/* Set a specific height */
height: 100%;
width: 100%;
margin-left: 10px;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
float: left;
text-align: center;
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: rgb(213, 184, 184);
}

/*      !! HEADER !!        */

/* this is the style detail of the header section */
  .hero-text header {
  padding: 20%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #cebbbb;
}
/* header h1 details */
header h1 {
 display: inline-flex;
 position: relative;
  font-size: 100px;
  margin-right: 100px
  margin-left: 50px;
}

header h1 p {
  font-size: 25px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
/* no item marker will be shown */
header nav ul {
  list-style-type: none;
}
/* this keeps the links in line */
header nav ul li {
  display: inline-block; 
  text-align: justify;
  margin-top: 40px;
  margin-right: 30px;
}

/*  SECTION ARTICLE CONTENT */

/* all of section.content to be inline and have this width and left margin */
section.content {
  text-align: justify;
  width: 100%;
  display: inline-block;
  margin: 10px;
}

p {
  font-size: 16px;
  font-display: flex;
}

/* article and descriptive paragraphs, their sizing, typography, color of lettering, and where in location of the box they will be */
section.content article.content {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  overflow: scroll;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(144, 112, 115);
  color: #ffffff;
}
/* section.content images, all of their max heights combined together */
section.content article.content img {
  max-height: 200px;
}
/* this is seperated because two images float left, and their respective margin definition */
section.content article.content img.float-left {
  float: left;
  margin-right: 40px;
  
}
/* this is seperated because it floats right and its margin definition */
section.content article.content img.float-right {
  float: right;
  margin-left: 25px;
}
/* this is where the header for the section article content's styling is, also combines all three header styles into one for consolidation because they are all the same */
section.content article.content h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

/* ASIDE BENEFITS*/

/* this is the box section located on the right side of the screen all the properties i can combine because they are all the same */
aside.benefits {
  padding: 20px;
  float: bottom;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(225, 190, 65) ;
}
/* article.benefit consolidated style */
aside.benefits article.benefit {
  margin-bottom: 32px;
  color: #ffffff;
}
/* article benefit h3 consolidated style */
aside.benefits article.benefit h3 {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}





/*    !!  FOOTER  !!       */

/* all of footer content style except h2 */
footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: rgb(144, 112, 115);
  margin: 10px;
}
/* h2 specified style */
footer h2 {
  font-size: 20px;
}